In [1]:
# Importa o pandas
import pandas as pd
import numpy as np

In [2]:
# Carrega o dataset de alunos. Informar o caminho do arquivo.
dados_aluno = pd.read_csv("TS_ALUNO_5EF_2019.csv", sep = ';')

In [3]:
# Shape (Quantidade de linhas e colunas)
dados_aluno.shape

(2581685, 89)

In [4]:
# Visualiza uma amostra dos dados
dados_aluno.head()

,ID_SAEB,ID_REGIAO,ID_UF,ID_MUNICIPIO,ID_AREA,ID_ESCOLA,IN_PUBLICA,ID_LOCALIZACAO,ID_TURMA,ID_SERIE,...,TX_RESP_Q015,TX_RESP_Q016,TX_RESP_Q017A,TX_RESP_Q017B,TX_RESP_Q017C,TX_RESP_Q017D,TX_RESP_Q017E,TX_RESP_Q018A,TX_RESP_Q018B,TX_RESP_Q018C
0,2019,1,11,6311030,2,61255632,1,1,1135588,5,...,A,A,C,*,B,.,A,A,B,B
1,2019,1,11,6311030,2,61255632,1,1,1135588,5,...,B,A,C,A,.,B,*,A,B,C
2,2019,1,11,6311030,2,61255632,1,1,1135588,5,...,B,C,*,*,*,*,.,*,*,*
3,2019,1,11,6311030,2,61255632,1,1,1135588,5,...,A,A,B,A,D,C,A,A,B,B
4,2019,1,11,6311030,2,61255632,1,1,1135588,5,...,A,A,C,A,D,B,A,B,B,A

In [5]:
#Mostra as colunas
dados_aluno.columns

Index(['ID_SAEB', 'ID_REGIAO', 'ID_UF', 'ID_MUNICIPIO', 'ID_AREA', 'ID_ESCOLA',
       'IN_PUBLICA', 'ID_LOCALIZACAO', 'ID_TURMA', 'ID_SERIE', 'ID_ALUNO',
       'IN_SITUACAO_CENSO', 'IN_PREENCHIMENTO_LP', 'IN_PREENCHIMENTO_MT',
       'IN_PRESENCA_LP', 'IN_PRESENCA_MT', 'ID_CADERNO_LP', 'ID_BLOCO_1_LP',
       'ID_BLOCO_2_LP', 'ID_CADERNO_MT', 'ID_BLOCO_1_MT', 'ID_BLOCO_2_MT',
       'TX_RESP_BLOCO1_LP', 'TX_RESP_BLOCO2_LP', 'TX_RESP_BLOCO1_MT',
       'TX_RESP_BLOCO2_MT', 'IN_PROFICIENCIA_LP', 'IN_PROFICIENCIA_MT',
       'IN_AMOSTRA', 'ESTRATO', 'PESO_ALUNO_LP', 'PROFICIENCIA_LP',
       'ERRO_PADRAO_LP', 'PROFICIENCIA_LP_SAEB', 'ERRO_PADRAO_LP_SAEB',
       'PESO_ALUNO_MT', 'PROFICIENCIA_MT', 'ERRO_PADRAO_MT',
       'PROFICIENCIA_MT_SAEB', 'ERRO_PADRAO_MT_SAEB',
       'IN_PREENCHIMENTO_QUESTIONARIO', 'TX_RESP_Q001', 'TX_RESP_Q002',
       'TX_RESP_Q003A', 'TX_RESP_Q003B', 'TX_RESP_Q003C', 'TX_RESP_Q003D',
       'TX_RESP_Q003E', 'TX_RESP_Q004', 'TX_RESP_Q005', 'TX_RESP_Q006A',
       'TX_RESP_Q006B', 'TX_RESP_Q006C', 'TX_RESP_Q006D', 'TX_RESP_Q006E',
       'TX_RESP_Q007', 'TX_RESP_Q008A', 'TX_RESP_Q008B', 'TX_RESP_Q008C',
       'TX_RESP_Q009A', 'TX_RESP_Q009B', 'TX_RESP_Q009C', 'TX_RESP_Q009D',
       'TX_RESP_Q009E', 'TX_RESP_Q009F', 'TX_RESP_Q009G', 'TX_RESP_Q010A',
       'TX_RESP_Q010B', 'TX_RESP_Q010C', 'TX_RESP_Q010D', 'TX_RESP_Q010E',
       'TX_RESP_Q010F', 'TX_RESP_Q010G', 'TX_RESP_Q010H', 'TX_RESP_Q010I',
       'TX_RESP_Q011', 'TX_RESP_Q012', 'TX_RESP_Q013', 'TX_RESP_Q014',
       'TX_RESP_Q015', 'TX_RESP_Q016', 'TX_RESP_Q017A', 'TX_RESP_Q017B',
       'TX_RESP_Q017C', 'TX_RESP_Q017D', 'TX_RESP_Q017E', 'TX_RESP_Q018A',
       'TX_RESP_Q018B', 'TX_RESP_Q018C'],
      dtype='object')

In [6]:
# Filtra os dados pela coluna 'ID_UF' pelo cÃ³digo 53 que corresponde ao DF
filtro_uf = dados_aluno['ID_UF'] == 53

# Filtra os dados pela coluna 'IN_PREENCHIMENTO_LP' pelo cÃ³digo 1 que corresponde a um preenchimento verdadeiro da prova
filtro_preenchimento_LP = dados_aluno['IN_PREENCHIMENTO_LP'] == 1

# Filtra os dados pela coluna 'IN_PREENCHIMENTO_MT' pelo cÃ³digo 1 que corresponde a um preenchimento verdadeiro da prova
filtro_preenchimento_MT = dados_aluno['IN_PREENCHIMENTO_MT'] == 1

# Filtra os dados pela coluna 'IN_PREENCHIMENTO_QUESTIONARIO' pelo cÃ³digo 1 que corresponde a um preenchimento 
#verdadeiro do questionÃ¡rio
filtro_preench_quest = dados_aluno['IN_PREENCHIMENTO_QUESTIONARIO'] == 1

# Aplica ambos os filtros usando o operador lÃ³gico AND (&)
dados_aluno_df = dados_aluno[filtro_uf & filtro_preenchimento_LP & filtro_preenchimento_MT & filtro_preench_quest]

In [7]:
# Convertendo as colunas para strings e substituindo os pontos por vÃ­rgulas
colunas_para_substituir = ['PESO_ALUNO_LP', 'PESO_ALUNO_MT', 'PROFICIENCIA_LP', 'PROFICIENCIA_LP_SAEB',
                           'PROFICIENCIA_MT', 'PROFICIENCIA_MT_SAEB']
for coluna in colunas_para_substituir:
    dados_aluno_df[coluna] = dados_aluno_df[coluna].astype(str).str.replace('.', ',')

C:\Users\ferna\AppData\Local\Temp\ipykernel_14428\3636634898.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dados_aluno_df[coluna] = dados_aluno_df[coluna].astype(str).str.replace('.', ',')
C:\Users\ferna\AppData\Local\Temp\ipykernel_14428\3636634898.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_aluno_df[coluna] = dados_aluno_df[coluna].astype(str).str.replace('.', ',')

In [8]:
#Aqui percebe-se que os dados jÃ¡ foram reduzidos
dados_aluno_df.shape

(29595, 89)

In [9]:
#o comando abaixo serve para testar os valores Ãºnicos que a coluna possui. EntÃ£o basta informar o nome da coluna.
dados_aluno_df['PROFICIENCIA_MT_SAEB'].unique()

array(['249,037686', '282,676204', '297,000458', ..., '252,452987',
       '268,09412', '262,178587'], dtype=object)

In [10]:
#Selecionar as colunas que sÃ£o de interesse, para isso Ã© necessÃ¡rio identificar as perguntas que sÃ£o comuns aos
#5 questionÃ¡rios e que sÃ£o pertinentes a anÃ¡lise
colunas = ['ID_SAEB', 'ID_ESCOLA', 'IN_PUBLICA', 'ID_LOCALIZACAO', 'ID_TURMA', 'ID_SERIE', 'ID_ALUNO', 
           'IN_SITUACAO_CENSO','IN_PREENCHIMENTO_LP', 'IN_PREENCHIMENTO_MT','PESO_ALUNO_LP', 'PESO_ALUNO_MT', 
           'PROFICIENCIA_LP', 'PROFICIENCIA_LP_SAEB', 'PROFICIENCIA_MT', 'PROFICIENCIA_MT_SAEB',
           'IN_PREENCHIMENTO_QUESTIONARIO', 'TX_RESP_Q002', 'TX_RESP_Q009E', 'TX_RESP_Q009A', 'TX_RESP_Q010H',
           'TX_RESP_Q009G', 'TX_RESP_Q009C', 'TX_RESP_Q009F', 
            'TX_RESP_Q009D', 'TX_RESP_Q003A', 'TX_RESP_Q004', 
           'TX_RESP_Q003B', 'TX_RESP_Q005', 'TX_RESP_Q006E','TX_RESP_Q017A', 
            'TX_RESP_Q017C', 'TX_RESP_Q015', 'TX_RESP_Q016', 'TX_RESP_Q006B', 
            'TX_RESP_Q006C', 'TX_RESP_Q006D', 'TX_RESP_Q006A', 'TX_RESP_Q017E','TX_RESP_Q010I']

#atribui somente as colunas desejadas ao dados_aluno_df inicial
dados_aluno_df = dados_aluno_df[colunas]

In [11]:
dados_aluno_df.head()

,ID_SAEB,ID_ESCOLA,IN_PUBLICA,ID_LOCALIZACAO,ID_TURMA,ID_SERIE,ID_ALUNO,IN_SITUACAO_CENSO,IN_PREENCHIMENTO_LP,IN_PREENCHIMENTO_MT,...,TX_RESP_Q017A,TX_RESP_Q017C,TX_RESP_Q015,TX_RESP_Q016,TX_RESP_Q006B,TX_RESP_Q006C,TX_RESP_Q006D,TX_RESP_Q006A,TX_RESP_Q017E,TX_RESP_Q010I
2546546,2019,61250351,1,1,992380,5,35105152,1,1,1,...,D,B,A,A,C,C,C,B,A,A
2546547,2019,61250351,1,1,992380,5,35105153,1,1,1,...,D,A,A,A,C,C,C,C,A,B
2546548,2019,61250351,1,1,992380,5,35105154,1,1,1,...,D,B,A,A,B,C,C,B,A,B
2546549,2019,61250351,1,1,992380,5,35105155,1,1,1,...,D,B,B,A,C,C,C,C,A,A
2546550,2019,61250351,1,1,992380,5,35105482,1,1,1,...,C,B,A,A,C,C,C,C,A,B

In [12]:
#substituir os valores da pergunta "Na sua casa tem freezer (parte da geladeira duplex)?" para sim e nÃ£o
#sustituindo com sim
# Valores antigos que queremos substituir
#valores_antigos = ['B', 'C', 'D', 'E', 'A', '*', '.']

# Novo valor para substituiÃ§Ã£o
#novo_valor = ['Sim', 'Sim', 'Sim', 'Sim', 'NÃ£o', 'NÃ£o respondeu/NÃ£o soube responder' ,'NÃ£o respondeu/NÃ£o soube responder']


#dados_aluno_df['TX_RESP_Q009'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
#dados_aluno_df['TX_RESP_Q009'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
#dados_aluno_df.loc[:, 'TX_RESP_Q009'] = dados_aluno_df['TX_RESP_Q009'].replace(valores_antigos, novo_valor)

#sustituindo com nÃ£o
# Valores antigos que queremos substituir
#valores_antigos = ['A']
# Novo valor para substituiÃ§Ã£o
#novo_valor = 'NÃ£o'
# Substituindo os valores antigos pelo novo valor na coluna 'A'
#dados_aluno_df.loc[:, 'TX_RESP_Q009'] = dados_aluno_df['TX_RESP_Q009'].replace(valores_antigos, novo_valor)

In [13]:
#substituir os valores da pergunta "Na sua casa tem freezer separado da geladeira?" para sim e nÃ£o
#sustituindo com sim
# Valores antigos que queremos substituir
#valores_antigos = ['B', 'C', 'D', 'E', 'A', '*', '.']

# Novo valor para substituiÃ§Ã£o
#novo_valor = ['Sim', 'Sim', 'Sim', 'Sim', 'NÃ£o', 'NÃ£o respondeu/NÃ£o soube responder' ,'NÃ£o respondeu/NÃ£o soube responder']


#dados_aluno_df['TX_RESP_Q010'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
#dados_aluno_df['TX_RESP_Q010'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)

# Substituindo os valores antigos pelo novo valor na coluna 'A'
#dados_aluno_df.loc[:, 'TX_RESP_Q010'] = dados_aluno_df['TX_RESP_Q010'].replace(valores_antigos, novo_valor)

#sustituindo com nÃ£o
# Valores antigos que queremos substituir
#valores_antigos = ['A']
# Novo valor para substituiÃ§Ã£o
#novo_valor = 'NÃ£o'
# Substituindo os valores antigos pelo novo valor na coluna 'A'
#dados_aluno_df.loc[:, 'TX_RESP_Q010'] = dados_aluno_df['TX_RESP_Q010'].replace(valores_antigos, novo_valor)

In [14]:
# FunÃ§Ã£o para verificar se pelo menos uma das duas colunas Ã© 'sim'
#def verifica_sim(row):
#    if row['TX_RESP_Q010'] == 'Sim' or row['TX_RESP_Q009'] == 'Sim':
#        return 'Sim'
#    elif row['TX_RESP_Q010'] == 'NÃ£o' and row['TX_RESP_Q009'] == 'NÃ£o':
#        return 'NÃ£o'
#    else:
#        return 'NÃ£o respondeu/NÃ£o soube responder'

# Aplicando a funÃ§Ã£o para criar a nova coluna 'Resultado'
#dados_aluno_df['Na sua casa tem: - Freezer (independente ou segunda porta da geladeira).'] = dados_aluno_df.apply(verifica_sim, axis=1)

In [15]:
#remover as colunas 'TX_RESP_Q010', 'TX_RESP_Q009', jÃ¡ que uma nova foi criada no lugar
#dados_aluno_df.drop(['TX_RESP_Q010', 'TX_RESP_Q009'], axis=1, inplace=True)

In [16]:
#Como vocÃª se considera?
#MudanÃ§a de Resposta: Respostas em Branco, "*"", "." mudou para "NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', 'C', 'D', 'E', 'F' , '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['Branco(a)',  'Preto(a)', 'Pardo(a)', 'Amarelo(a)', 'IndÃ­gena', 'NÃ£o quero declarar', 'NÃ£o respondeu/NÃ£o soube responder'
             ,'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q002'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q002'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q002'] = dados_aluno_df['TX_RESP_Q002'].replace(valores_antigos, novo_valor)

In [17]:
#VocÃª mora com sua mÃ£e?
#MudanÃ§a de Resposta: Respostas em Branco, "*", "." mudou para "NÃ£o respondeu/NÃ£o soube responder"

valores_antigos = ['A', 'B', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o', 'Sim', 'NÃ£o respondeu/NÃ£o soube responder' ,'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q003A'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q003A'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q003A'] = dados_aluno_df['TX_RESP_Q003A'].replace(valores_antigos, novo_valor)

In [18]:
#VocÃª mora com seu pai?
#MudanÃ§a de Resposta: Respostas em Branco, "*", "." mudou para "NÃ£o respondeu/NÃ£o soube responder"

valores_antigos = ['A', 'B', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o', 'Sim', 'NÃ£o respondeu/NÃ£o soube responder' ,'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q003B'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q003B'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q003B'] = dados_aluno_df['TX_RESP_Q003B'].replace(valores_antigos, novo_valor)

In [19]:
#AtÃ© que sÃ©rie sua mÃ£e, ou a mulher responsÃ¡vel por vocÃª, estudou?
#MudanÃ§a de Resposta: Respostas em Branco ou "*" ou "." mudou para "NÃ£o respondeu/NÃ£o soube responder"


valores_antigos = ['A', 'B', 'C', 'D', 'E', 'F' , '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o completou o 5Âº ano do Ensino Fundamental', 'Ensino Fundamental, atÃ© o 5Âº ano', 
              'Ensino Fundamental completo', 'Ensino MÃ©dio completo', 
              'Ensino Superior completo (faculdade ou graduaÃ§Ã£o)', 'NÃ£o sei',
              'NÃ£o respondeu/NÃ£o soube responder', 'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q004'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q004'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q004'] = dados_aluno_df['TX_RESP_Q004'].replace(valores_antigos, novo_valor)

In [20]:
#AtÃ© que sÃ©rie seu pai, ou o homem responsÃ¡vel por vocÃª, estudou?
#MudanÃ§a de Resposta: Respostas em Branco ou "*" ou "." mudou para "NÃ£o respondeu/NÃ£o soube responder"

valores_antigos = ['A', 'B', 'C', 'D', 'E', 'F' , '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o completou o 5Âº ano do Ensino Fundamental', 'Ensino Fundamental, atÃ© o 5Âº ano', 
              'Ensino Fundamental completo', 'Ensino MÃ©dio completo', 
              'Ensino Superior completo (faculdade ou graduaÃ§Ã£o)', 'NÃ£o sei',
              'NÃ£o respondeu/NÃ£o soube responder', 'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q005'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q005'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q005'] = dados_aluno_df['TX_RESP_Q005'].replace(valores_antigos, novo_valor)

In [21]:
#Seus pais ou responsÃ¡veis conversam com vocÃª sobre o que acontece na escola?
#MudanÃ§a de Resposta: "Sempre ou quase sempre." mudou para "Sim", "De vez em quando." mudou para "Sim",
#"Nunca ou quase nunca." mudou para "NÃ£o", AlÃ©m disso Respostas em Branco, "*", "." mudou para 
#"NÃ£o respondeu/NÃ£o soube responder"


valores_antigos = ['A', 'B', 'C', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o', 'Sim', 'Sim', 'NÃ£o respondeu/NÃ£o soube responder' ,'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q006A'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q006A'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q006A'] = dados_aluno_df['TX_RESP_Q006A'].replace(valores_antigos, novo_valor)

In [22]:
#Seus pais ou responsÃ¡veis incentivam vocÃª a estudar?
#MudanÃ§a de Resposta: "Sempre ou quase sempre." mudou para "Sim", "De vez em quando." mudou para "Sim",
#"Nunca ou quase nunca." mudou para "NÃ£o", AlÃ©m disso Respostas em Branco, "*", "." mudou para 
#"NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', 'C', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o', 'Sim', 'Sim', 'NÃ£o respondeu/NÃ£o soube responder' ,'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q006B'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q006B'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q006B'] = dados_aluno_df['TX_RESP_Q006B'].replace(valores_antigos, novo_valor)

In [23]:
#Seus pais ou responsÃ¡veis incentivam vocÃª a fazer o dever de casa e/ou os trabalhos da escola?
#MudanÃ§a de Resposta: "Sempre ou quase sempre." mudou para "Sim", "De vez em quando." mudou para "Sim",
#"Nunca ou quase nunca." mudou para "NÃ£o", AlÃ©m disso Respostas em Branco, "*", "." mudou para 
#"NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', 'C', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o', 'Sim', 'Sim', 'NÃ£o respondeu/NÃ£o soube responder' ,'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q006C'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q006C'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q006C'] = dados_aluno_df['TX_RESP_Q006C'].replace(valores_antigos, novo_valor)

In [24]:
#Seus pais ou responsÃ¡veis incentivam vocÃª a ir a escola e/ou nÃ£o faltar Ã s aulas?
#MudanÃ§a de Resposta: "Sempre ou quase sempre." mudou para "Sim", "De vez em quando." mudou para "Sim",
#"Nunca ou quase nunca." mudou para "NÃ£o", AlÃ©m disso Respostas em Branco, "*", "." mudou para 
#"NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', 'C', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o', 'Sim', 'Sim', 'NÃ£o respondeu/NÃ£o soube responder' ,'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q006D'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q006D'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q006D'] = dados_aluno_df['TX_RESP_Q006D'].replace(valores_antigos, novo_valor)

In [25]:
#Com qual frequÃªncia seus pais, ou responsÃ¡veis por vocÃª, vÃ£o Ã  reuniÃ£o de pais?
#MudanÃ§a de Resposta: "Sempre ou quase sempre." mudou para "Sim", "De vez em quando." mudou para "Sim",
#"Nunca ou quase nunca." mudou para "NÃ£o", AlÃ©m disso Respostas em Branco, "*", "." mudou para 
#"NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', 'C', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o', 'Sim', 'Sim', 'NÃ£o respondeu/NÃ£o soube responder' ,'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q006E'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q006E'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q006E'] = dados_aluno_df['TX_RESP_Q006E'].replace(valores_antigos, novo_valor)

In [26]:
#Na sua casa tem geladeira?
#MudanÃ§a de Resposta: "Nenhum" mudou para "NÃ£o", "1" mudou para "Sim, uma", "2" mudou para "Sim, duas",
#"3 ou mais." mudou para "Sim, trÃªs ou mais.", AlÃ©m disso Respostas em Branco, "*", "." mudou para 
#"NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', 'C', 'D', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o', 'Sim, uma', 'Sim, duas' , 'Sim, trÃªs ou mais', 
              'NÃ£o respondeu/NÃ£o soube responder',
              'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q009A'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q009A'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q009A'] = dados_aluno_df['TX_RESP_Q009A'].replace(valores_antigos, novo_valor)

In [27]:
#Na sua casa tem computador?
#MudanÃ§a de Resposta: "Nenhum" mudou para "NÃ£o", "1" mudou para "Sim, um", "2" mudou para "Sim, dois",
#"3 ou mais." mudou para "Sim, trÃªs ou mais.", AlÃ©m disso Respostas em Branco, "*", "." mudou para 
#"NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', 'C', 'D', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o', 'Sim, um', 'Sim, dois' , 'Sim, trÃªs ou mais',
              'NÃ£o respondeu/NÃ£o soube responder',
              'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q009C'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q009C'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q009C'] = dados_aluno_df['TX_RESP_Q009C'].replace(valores_antigos, novo_valor)

In [28]:
#Na sua casa tem quartos para dormir?
#MudanÃ§a de Resposta: "Nenhum" mudou para "NÃ£o", "1" mudou para "Sim, um", "2" mudou para "Sim, dois",
#"3 ou mais." mudou para "Sim, trÃªs ou mais.", AlÃ©m disso Respostas em Branco, "*", "." mudou para 
#"NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', 'C', 'D', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o', 'Sim, um', 'Sim, dois' , 'Sim, trÃªs ou mais', 
              'NÃ£o respondeu/NÃ£o soube responder',
              'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q009D'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q009D'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q009D'] = dados_aluno_df['TX_RESP_Q009D'].replace(valores_antigos, novo_valor)

In [29]:
#Na sua casa tem televisÃ£o em cores?
#MudanÃ§a de Resposta: "Nenhum" mudou para "NÃ£o", "1" mudou para "Sim, uma", "2" mudou para "Sim, duas",
#"3 ou mais." mudou para "Sim, trÃªs ou mais.", AlÃ©m disso Respostas em Branco, "*", "." mudou para 
#"NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', 'C', 'D', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o', 'Sim, uma', 'Sim, duas' , 'Sim, trÃªs ou mais', 
              'NÃ£o respondeu/NÃ£o soube responder',
              'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q009E'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q009E'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q009E'] = dados_aluno_df['TX_RESP_Q009E'].replace(valores_antigos, novo_valor)

In [30]:
#Na sua casa tem banheiro?
#MudanÃ§a de Resposta: "Nenhum" mudou para "NÃ£o", "1" mudou para "Sim, um", "2" mudou para "Sim, dois",
#"3 ou mais." mudou para "Sim, trÃªs ou mais.", AlÃ©m disso Respostas em Branco, "*", "." mudou para 
#"NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', 'C', 'D', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o', 'Sim, um', 'Sim, dois' , 'Sim, trÃªs ou mais', 
              'NÃ£o respondeu/NÃ£o soube responder',
              'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q009F'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q009F'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q009F'] = dados_aluno_df['TX_RESP_Q009F'].replace(valores_antigos, novo_valor)

In [31]:
#Na sua casa tem carro?
#MudanÃ§a de Resposta: "Nenhum" mudou para "NÃ£o", "1" mudou para "Sim, um", "2" mudou para "Sim, dois",
#"3 ou mais." mudou para "Sim, trÃªs ou mais.", AlÃ©m disso Respostas em Branco, "*", "." mudou para 
#"NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', 'C', 'D', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o', 'Sim, um', 'Sim, dois' , 'Sim, trÃªs ou mais', 
              'NÃ£o respondeu/NÃ£o soube responder',
              'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q009G'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q009G'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q009G'] = dados_aluno_df['TX_RESP_Q009G'].replace(valores_antigos, novo_valor)

In [32]:
#Na sua casa tem mÃ¡quina de lavar roupa (O tanquinho NÃƒO deve ser considerado)?
#MudanÃ§a de Resposta: Respostas em Branco, "*", "." mudou para "NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o', 'Sim', 'NÃ£o respondeu/NÃ£o soube responder',
              'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q010H'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q010H'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q010H'] = dados_aluno_df['TX_RESP_Q010H'].replace(valores_antigos, novo_valor)

In [33]:
#VocÃª jÃ¡ abandonou a escola durante o perÃ­odo de aulas e ficou fora da escola o resto do ano?
#MudanÃ§a de Resposta:  em Branco, "*", "." mudou para "NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', 'C', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o', 'Sim, uma vez', 'Sim, duas vezes ou mais' , 'NÃ£o respondeu/NÃ£o soube responder' ,'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q016'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q016'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q016'] = dados_aluno_df['TX_RESP_Q016'].replace(valores_antigos, novo_valor)

In [34]:
#VocÃª jÃ¡ foi reprovado?
#MudanÃ§a de Resposta:  em Branco, "*", "." mudou para "NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', 'C', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o', 'Sim, uma vez', 'Sim, duas vezes ou mais' , 'NÃ£o respondeu/NÃ£o soube responder' ,'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q015'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q015'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q015'] = dados_aluno_df['TX_RESP_Q015'].replace(valores_antigos, novo_valor)

In [35]:
#Em dia de aula, quanto tempo vocÃª gasta assistindo Ã  TV, navegando na internet ou jogando jogos eletrÃ´nicos?
#MudanÃ§a de Resposta: Respostas em Branco ou "*" ou "." mudou para "NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', 'C', 'D', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o uso meu tempo para isso', 'Menos de 1 hora', 'Entre 1 e 2 horas', 
              'Mais de 2 horas', 
              'NÃ£o respondeu/NÃ£o soube responder',
              'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q017A'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q017A'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q017A'] = dados_aluno_df['TX_RESP_Q017A'].replace(valores_antigos, novo_valor)

In [36]:
#Em dias de aula, quanto tempo vocÃª gasta fazendo trabalhos domÃ©sticos (ex.: lavando louÃ§a, limpando o quintal etc.)?
#MudanÃ§a de Resposta: Respostas em Branco ou "*" ou "." mudou para "NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', 'C', 'D', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o uso meu tempo para isso', 'Menos de 1 hora', 'Entre 1 e 2 horas', 
              'Mais de 2 horas', 
              'NÃ£o respondeu/NÃ£o soube responder',
              'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q017C'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q017C'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q017C'] = dados_aluno_df['TX_RESP_Q017C'].replace(valores_antigos, novo_valor)

In [37]:
#Atualmente vocÃª trabalha fora de casa (recebendo ou nÃ£o um salÃ¡rio)?
#MudanÃ§a de Resposta: Respostas em Branco ou "*" ou "." mudou para "NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', 'C', 'D', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o', 'Sim', 'Sim','Sim', 
              'NÃ£o respondeu/NÃ£o soube responder',
              'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q017E'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q017E'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q017E'] = dados_aluno_df['TX_RESP_Q017E'].replace(valores_antigos, novo_valor)

In [38]:
#Na sua casa tem: - Freezer (independente ou segunda porta da geladeira).
#MudanÃ§a de Resposta: Respostas em Branco, "*", "." mudou para "NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o', 'Sim', 'NÃ£o respondeu/NÃ£o soube responder',
              'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q010I'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q010I'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q010I'] = dados_aluno_df['TX_RESP_Q010I'].replace(valores_antigos, novo_valor)

In [39]:
#Renomeia as perguntas do questionÃ¡rio de aluno

# Vetores com os nomes atuais e futuros das colunas
nomes_atuais = ['ID_SAEB', 'TX_RESP_Q002', 'TX_RESP_Q003A', 'TX_RESP_Q003B', 'TX_RESP_Q004', 
                'TX_RESP_Q005', 'TX_RESP_Q006A', 'TX_RESP_Q006B', 'TX_RESP_Q006C',  'TX_RESP_Q006D',   
                'TX_RESP_Q006E', 'TX_RESP_Q009A','TX_RESP_Q009C', 'TX_RESP_Q009D', 
                'TX_RESP_Q009E', 'TX_RESP_Q009F', 'TX_RESP_Q009G', 'TX_RESP_Q010H', 'TX_RESP_Q015',
                'TX_RESP_Q016',  'TX_RESP_Q017A', 'TX_RESP_Q017C','TX_RESP_Q017E', 'TX_RESP_Q010I']

nomes_futuros = ['ID_PROVA_BRASIL',
'Qual Ã© a sua cor ou raÃ§a?', 
'Normalmente, quem mora na sua casa? - MÃ£e (mÃ£es ou madrasta).', 
'Normalmente, quem mora na sua casa? - Pai (pais ou padrasto).', 
'Qual Ã© a maior escolaridade da sua mÃ£e (ou mulher responsÃ¡vel por vocÃª)?', 
'Qual Ã© a maior escolaridade de seu pai (ou homem responsÃ¡vel por vocÃª)?', 
'Seus pais ou responsÃ¡veis conversam com vocÃª sobre o que acontece na escola?', 
'Seus pais ou responsÃ¡veis incentivam vocÃª a estudar?', 
'Seus pais ou responsÃ¡veis incentivam vocÃª a fazer o dever de casa e/ou os trabalhos da escola?', 
'Seus pais ou responsÃ¡veis incentivam vocÃª a ir a escola e/ou nÃ£o faltar Ã s aulas?', 
'Seus pais ou responsÃ¡veis vÃ£o Ã  reuniÃ£o de pais?', 
'Na sua casa tem geladeira?', 
'Na sua casa tem computador?', 
'Na sua casa tem quartos para dormir?', 
'Na sua casa tem televisÃ£o?', 
'Na sua casa tem banheiro?', 
'Na sua casa tem carro?', 
'Na sua casa tem mÃ¡quina de lavar roupa?',  
'VocÃª jÃ¡ foi reprovado(a)?', 
'Alguma vez vocÃª abandonou a escola deixando de frequentÃ¡-la atÃ© o final do ano escolar?', 
'Fora da escola em dias de aula, quanto tempo vocÃª usa para: - Lazer (TV, internet, brincar, mÃºsica etc.).', 
'Fora da escola em dias de aula, quanto tempo vocÃª usa para: - Trabalhar em casa (lavar louÃ§a, limpar quintal, cuidar dos irmÃ£os).', 
'Atualmente vocÃª trabalha fora de casa (recebendo ou nÃ£o um salÃ¡rio)?',
'Na sua casa tem: - Freezer (independente ou segunda porta da geladeira)'
]

# Renomeando as colunas usando os vetores
novos_nomes = dict(zip(nomes_atuais, nomes_futuros))
dados_aluno_df.rename(columns=novos_nomes, inplace=True)

In [40]:
#Salvar o dataframe gerado em um arquivo
dados_aluno_df.to_csv('dados_aluno_5ano_2019.csv', index=False)

In [41]:
dados_aluno_df.shape

(29595, 40)

In [42]:
dados_aluno_df.head()

,ID_PROVA_BRASIL,ID_ESCOLA,IN_PUBLICA,ID_LOCALIZACAO,ID_TURMA,ID_SERIE,ID_ALUNO,IN_SITUACAO_CENSO,IN_PREENCHIMENTO_LP,IN_PREENCHIMENTO_MT,...,"Fora da escola em dias de aula, quanto tempo vocÃª usa para: - Lazer (TV, internet, brincar, mÃºsica etc.).","Fora da escola em dias de aula, quanto tempo vocÃª usa para: - Trabalhar em casa (lavar louÃ§a, limpar quintal, cuidar dos irmÃ£os).",VocÃª jÃ¡ foi reprovado(a)?,Alguma vez vocÃª abandonou a escola deixando de frequentÃ¡-la atÃ© o final do ano escolar?,Seus pais ou responsÃ¡veis incentivam vocÃª a estudar?,Seus pais ou responsÃ¡veis incentivam vocÃª a fazer o dever de casa e/ou os trabalhos da escola?,Seus pais ou responsÃ¡veis incentivam vocÃª a ir a escola e/ou nÃ£o faltar Ã s aulas?,Seus pais ou responsÃ¡veis conversam com vocÃª sobre o que acontece na escola?,Atualmente vocÃª trabalha fora de casa (recebendo ou nÃ£o um salÃ¡rio)?,Na sua casa tem: - Freezer (independente ou segunda porta da geladeira)
2546546,2019,61250351,1,1,992380,5,35105152,1,1,1,...,Mais de 2 horas,Menos de 1 hora,NÃ£o,NÃ£o,Sim,Sim,Sim,Sim,NÃ£o,NÃ£o
2546547,2019,61250351,1,1,992380,5,35105153,1,1,1,...,Mais de 2 horas,NÃ£o uso meu tempo para isso,NÃ£o,NÃ£o,Sim,Sim,Sim,Sim,NÃ£o,Sim
2546548,2019,61250351,1,1,992380,5,35105154,1,1,1,...,Mais de 2 horas,Menos de 1 hora,NÃ£o,NÃ£o,Sim,Sim,Sim,Sim,NÃ£o,Sim
2546549,2019,61250351,1,1,992380,5,35105155,1,1,1,...,Mais de 2 horas,Menos de 1 hora,"Sim, uma vez",NÃ£o,Sim,Sim,Sim,Sim,NÃ£o,NÃ£o
2546550,2019,61250351,1,1,992380,5,35105482,1,1,1,...,Entre 1 e 2 horas,Menos de 1 hora,NÃ£o,NÃ£o,Sim,Sim,Sim,Sim,NÃ£o,Sim