In [1]:
# Importa o pandas
import pandas as pd
import numpy as np

In [2]:
# Carrega o dataset de alunos. Informar o caminho do arquivo.
dados_aluno = pd.read_csv("TS_ALUNO_9EF_2019.csv", sep = ';')

C:\Users\ferna\AppData\Local\Temp\ipykernel_19392\116334695.py:2: DtypeWarning: Columns (42,43,44,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.
  dados_aluno = pd.read_csv("TS_ALUNO_9EF_2019.csv", sep = ';')

In [3]:
# Shape (Quantidade de linhas e colunas)
dados_aluno.shape

(2388931, 129)

In [4]:
# Visualiza uma amostra dos dados
dados_aluno.head()

,ID_SAEB,ID_REGIAO,ID_UF,ID_MUNICIPIO,ID_AREA,ID_ESCOLA,IN_PUBLICA,ID_LOCALIZACAO,ID_TURMA,ID_SERIE,...,TX_RESP_Q016,TX_RESP_Q017A,TX_RESP_Q017B,TX_RESP_Q017C,TX_RESP_Q017D,TX_RESP_Q017E,TX_RESP_Q018A,TX_RESP_Q018B,TX_RESP_Q018C,TX_RESP_Q019
0,2019,1,11,6311030,2,61255632,1,1,1030927,9,...,A,D,A,D,B,A,C,B,A,C
1,2019,1,11,6311030,2,61255632,1,1,1030927,9,...,A,D,A,D,B,A,A,A,A,C
2,2019,1,11,6311030,2,61255632,1,1,1030927,9,...,A,D,A,D,C,A,C,B,B,D
3,2019,1,11,6311030,2,61255632,1,1,1030927,9,...,A,C,A,D,C,A,A,A,A,D
4,2019,1,11,6311030,2,61255632,1,1,1030927,9,...,A,C,A,*,B,A,B,A,A,C

In [5]:
#Mostra as colunas
dados_aluno.columns

Index(['ID_SAEB', 'ID_REGIAO', 'ID_UF', 'ID_MUNICIPIO', 'ID_AREA', 'ID_ESCOLA',
       'IN_PUBLICA', 'ID_LOCALIZACAO', 'ID_TURMA', 'ID_SERIE',
       ...
       'TX_RESP_Q016', 'TX_RESP_Q017A', 'TX_RESP_Q017B', 'TX_RESP_Q017C',
       'TX_RESP_Q017D', 'TX_RESP_Q017E', 'TX_RESP_Q018A', 'TX_RESP_Q018B',
       'TX_RESP_Q018C', 'TX_RESP_Q019'],
      dtype='object', length=129)

In [6]:
# Filtra os dados pela coluna 'ID_UF' pelo código 53 que corresponde ao DF
filtro_uf = dados_aluno['ID_UF'] == 53

# Filtra os dados pela coluna 'IN_PREENCHIMENTO_LP' pelo código 1 que corresponde a um preenchimento verdadeiro da prova
filtro_preenchimento_LP = dados_aluno['IN_PREENCHIMENTO_LP'] == 1

# Filtra os dados pela coluna 'IN_PREENCHIMENTO_MT' pelo código 1 que corresponde a um preenchimento verdadeiro da prova
filtro_preenchimento_MT = dados_aluno['IN_PREENCHIMENTO_MT'] == 1

# Filtra os dados pela coluna 'IN_PREENCHIMENTO_QUESTIONARIO' pelo código 1 que corresponde a um preenchimento 
#verdadeiro do questionário
filtro_preench_quest = dados_aluno['IN_PREENCHIMENTO_QUESTIONARIO'] == 1

# Aplica ambos os filtros usando o operador lógico AND (&)
dados_aluno_df = dados_aluno[filtro_uf & filtro_preenchimento_LP & filtro_preenchimento_MT & filtro_preench_quest]

In [7]:
# Convertendo as colunas para strings e substituindo os pontos por vírgulas
colunas_para_substituir = ['PESO_ALUNO_LP', 'PESO_ALUNO_MT', 'PROFICIENCIA_LP', 'PROFICIENCIA_LP_SAEB',
                           'PROFICIENCIA_MT', 'PROFICIENCIA_MT_SAEB']
for coluna in colunas_para_substituir:
    dados_aluno_df[coluna] = dados_aluno_df[coluna].astype(str).str.replace('.', ',')

C:\Users\ferna\AppData\Local\Temp\ipykernel_19392\3636634898.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dados_aluno_df[coluna] = dados_aluno_df[coluna].astype(str).str.replace('.', ',')
C:\Users\ferna\AppData\Local\Temp\ipykernel_19392\3636634898.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_aluno_df[coluna] = dados_aluno_df[coluna].astype(str).str.replace('.', ',')

In [8]:
#Aqui percebe-se que os dados já foram reduzidos
dados_aluno_df.shape

(26708, 129)

In [9]:
#o comando abaixo serve para testar os valores únicos que a coluna possui. Então basta informar o nome da coluna.
dados_aluno_df['PROFICIENCIA_MT_SAEB'].unique()

array(['242,047345', '282,976905', '284,327711', ..., '314,472176',
       '288,022305', '227,03936'], dtype=object)

In [10]:
#Selecionar as colunas que são de interesse, para isso é necessário identificar as perguntas que são comuns aos
#5 questionários e que são pertinentes a análise
colunas = ['ID_SAEB', 'ID_ESCOLA', 'IN_PUBLICA', 'ID_LOCALIZACAO', 'ID_TURMA', 'ID_SERIE', 'ID_ALUNO', 
           'IN_SITUACAO_CENSO','IN_PREENCHIMENTO_LP', 'IN_PREENCHIMENTO_MT','PESO_ALUNO_LP', 'PESO_ALUNO_MT', 
           'PROFICIENCIA_LP', 'PROFICIENCIA_LP_SAEB', 'PROFICIENCIA_MT', 'PROFICIENCIA_MT_SAEB',
           'IN_PREENCHIMENTO_QUESTIONARIO', 'TX_RESP_Q002', 'TX_RESP_Q009E', 'TX_RESP_Q009A', 'TX_RESP_Q010H',
           'TX_RESP_Q009G', 'TX_RESP_Q009C', 'TX_RESP_Q009F', 
            'TX_RESP_Q009D', 'TX_RESP_Q003A', 'TX_RESP_Q004', 
           'TX_RESP_Q003B', 'TX_RESP_Q005', 'TX_RESP_Q006E','TX_RESP_Q017A', 
            'TX_RESP_Q017C', 'TX_RESP_Q015', 'TX_RESP_Q016', 'TX_RESP_Q006B', 
            'TX_RESP_Q006C', 'TX_RESP_Q006D', 'TX_RESP_Q006A', 'TX_RESP_Q017E','TX_RESP_Q010I']

#atribui somente as colunas desejadas ao dados_aluno_df inicial
dados_aluno_df = dados_aluno_df[colunas]

In [11]:
dados_aluno_df.head()

,ID_SAEB,ID_ESCOLA,IN_PUBLICA,ID_LOCALIZACAO,ID_TURMA,ID_SERIE,ID_ALUNO,IN_SITUACAO_CENSO,IN_PREENCHIMENTO_LP,IN_PREENCHIMENTO_MT,...,TX_RESP_Q017A,TX_RESP_Q017C,TX_RESP_Q015,TX_RESP_Q016,TX_RESP_Q006B,TX_RESP_Q006C,TX_RESP_Q006D,TX_RESP_Q006A,TX_RESP_Q017E,TX_RESP_Q010I
2353011,2019,61250442,1,1,1008120,9,35520013,1,1,1,...,D,C,B,B,C,C,C,B,A,A
2353012,2019,61250442,1,1,1008120,9,35520014,1,1,1,...,D,B,A,A,C,C,C,B,A,B
2353013,2019,61250442,1,1,1008120,9,35520015,1,1,1,...,C,B,A,A,C,C,C,C,A,B
2353015,2019,61250442,1,1,1008120,9,35520017,1,1,1,...,D,C,A,A,C,C,C,B,A,B
2353016,2019,61250442,1,1,1008120,9,35520018,1,1,1,...,D,B,A,A,B,B,C,B,A,B

In [12]:
#substituir os valores da pergunta "Na sua casa tem freezer (parte da geladeira duplex)?" para sim e não
#sustituindo com sim
# Valores antigos que queremos substituir
#valores_antigos = ['B', 'C', 'D', 'E', 'A', '*', '.']

# Novo valor para substituição
#novo_valor = ['Sim', 'Sim', 'Sim', 'Sim', 'Não', 'Não respondeu/Não soube responder' ,'Não respondeu/Não soube responder']


#dados_aluno_df['TX_RESP_Q009'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
#dados_aluno_df['TX_RESP_Q009'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
#dados_aluno_df.loc[:, 'TX_RESP_Q009'] = dados_aluno_df['TX_RESP_Q009'].replace(valores_antigos, novo_valor)

#sustituindo com não
# Valores antigos que queremos substituir
#valores_antigos = ['A']
# Novo valor para substituição
#novo_valor = 'Não'
# Substituindo os valores antigos pelo novo valor na coluna 'A'
#dados_aluno_df.loc[:, 'TX_RESP_Q009'] = dados_aluno_df['TX_RESP_Q009'].replace(valores_antigos, novo_valor)

In [13]:
#substituir os valores da pergunta "Na sua casa tem freezer separado da geladeira?" para sim e não
#sustituindo com sim
# Valores antigos que queremos substituir
#valores_antigos = ['B', 'C', 'D', 'E', 'A', '*', '.']

# Novo valor para substituição
#novo_valor = ['Sim', 'Sim', 'Sim', 'Sim', 'Não', 'Não respondeu/Não soube responder' ,'Não respondeu/Não soube responder']


#dados_aluno_df['TX_RESP_Q010'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
#dados_aluno_df['TX_RESP_Q010'].fillna('Não respondeu/Não soube responder', inplace=True)

# Substituindo os valores antigos pelo novo valor na coluna 'A'
#dados_aluno_df.loc[:, 'TX_RESP_Q010'] = dados_aluno_df['TX_RESP_Q010'].replace(valores_antigos, novo_valor)

#sustituindo com não
# Valores antigos que queremos substituir
#valores_antigos = ['A']
# Novo valor para substituição
#novo_valor = 'Não'
# Substituindo os valores antigos pelo novo valor na coluna 'A'
#dados_aluno_df.loc[:, 'TX_RESP_Q010'] = dados_aluno_df['TX_RESP_Q010'].replace(valores_antigos, novo_valor)

In [14]:
# Função para verificar se pelo menos uma das duas colunas é 'sim'
#def verifica_sim(row):
#    if row['TX_RESP_Q010'] == 'Sim' or row['TX_RESP_Q009'] == 'Sim':
#        return 'Sim'
#    elif row['TX_RESP_Q010'] == 'Não' and row['TX_RESP_Q009'] == 'Não':
#        return 'Não'
#    else:
#        return 'Não respondeu/Não soube responder'

# Aplicando a função para criar a nova coluna 'Resultado'
#dados_aluno_df['Na sua casa tem: - Freezer (independente ou segunda porta da geladeira).'] = dados_aluno_df.apply(verifica_sim, axis=1)

In [15]:
#remover as colunas 'TX_RESP_Q010', 'TX_RESP_Q009', já que uma nova foi criada no lugar
#dados_aluno_df.drop(['TX_RESP_Q010', 'TX_RESP_Q009'], axis=1, inplace=True)

In [16]:
#Como você se considera?
#Mudança de Resposta: Respostas em Branco, "*"", "." mudou para "Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', 'C', 'D', 'E', 'F' , '*', '.']

# Novo valor para substituição
novo_valor = ['Branco(a)',  'Preto(a)', 'Pardo(a)', 'Amarelo(a)', 'Indígena', 'Não quero declarar', 'Não respondeu/Não soube responder'
             ,'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q002'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q002'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q002'] = dados_aluno_df['TX_RESP_Q002'].replace(valores_antigos, novo_valor)

In [17]:
#Você mora com sua mãe?
#Mudança de Resposta: Respostas em Branco, "*", "." mudou para "Não respondeu/Não soube responder"

valores_antigos = ['A', 'B', '*', '.']

# Novo valor para substituição
novo_valor = ['Não', 'Sim', 'Não respondeu/Não soube responder' ,'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q003A'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q003A'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q003A'] = dados_aluno_df['TX_RESP_Q003A'].replace(valores_antigos, novo_valor)

In [18]:
#Você mora com seu pai?
#Mudança de Resposta: Respostas em Branco, "*", "." mudou para "Não respondeu/Não soube responder"

valores_antigos = ['A', 'B', '*', '.']

# Novo valor para substituição
novo_valor = ['Não', 'Sim', 'Não respondeu/Não soube responder' ,'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q003B'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q003B'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q003B'] = dados_aluno_df['TX_RESP_Q003B'].replace(valores_antigos, novo_valor)

In [19]:
#Até que série sua mãe, ou a mulher responsável por você, estudou?
#Mudança de Resposta: Respostas em Branco ou "*" ou "." mudou para "Não respondeu/Não soube responder"


valores_antigos = ['A', 'B', 'C', 'D', 'E', 'F' , '*', '.']

# Novo valor para substituição
novo_valor = ['Não completou o 5º ano do Ensino Fundamental', 'Ensino Fundamental, até o 5º ano', 
              'Ensino Fundamental completo', 'Ensino Médio completo', 
              'Ensino Superior completo (faculdade ou graduação)', 'Não sei',
              'Não respondeu/Não soube responder', 'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q004'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q004'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q004'] = dados_aluno_df['TX_RESP_Q004'].replace(valores_antigos, novo_valor)

In [20]:
#Até que série seu pai, ou o homem responsável por você, estudou?
#Mudança de Resposta: Respostas em Branco ou "*" ou "." mudou para "Não respondeu/Não soube responder"

valores_antigos = ['A', 'B', 'C', 'D', 'E', 'F' , '*', '.']

# Novo valor para substituição
novo_valor = ['Não completou o 5º ano do Ensino Fundamental', 'Ensino Fundamental, até o 5º ano', 
              'Ensino Fundamental completo', 'Ensino Médio completo', 
              'Ensino Superior completo (faculdade ou graduação)', 'Não sei',
              'Não respondeu/Não soube responder', 'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q005'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q005'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q005'] = dados_aluno_df['TX_RESP_Q005'].replace(valores_antigos, novo_valor)

In [21]:
#Seus pais ou responsáveis conversam com você sobre o que acontece na escola?
#Mudança de Resposta: "Sempre ou quase sempre." mudou para "Sim", "De vez em quando." mudou para "Sim",
#"Nunca ou quase nunca." mudou para "Não", Além disso Respostas em Branco, "*", "." mudou para 
#"Não respondeu/Não soube responder"


valores_antigos = ['A', 'B', 'C', '*', '.']

# Novo valor para substituição
novo_valor = ['Não', 'Sim', 'Sim', 'Não respondeu/Não soube responder' ,'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q006A'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q006A'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q006A'] = dados_aluno_df['TX_RESP_Q006A'].replace(valores_antigos, novo_valor)

In [22]:
#Seus pais ou responsáveis incentivam você a estudar?
#Mudança de Resposta: "Sempre ou quase sempre." mudou para "Sim", "De vez em quando." mudou para "Sim",
#"Nunca ou quase nunca." mudou para "Não", Além disso Respostas em Branco, "*", "." mudou para 
#"Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', 'C', '*', '.']

# Novo valor para substituição
novo_valor = ['Não', 'Sim', 'Sim', 'Não respondeu/Não soube responder' ,'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q006B'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q006B'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q006B'] = dados_aluno_df['TX_RESP_Q006B'].replace(valores_antigos, novo_valor)

In [23]:
#Seus pais ou responsáveis incentivam você a fazer o dever de casa e/ou os trabalhos da escola?
#Mudança de Resposta: "Sempre ou quase sempre." mudou para "Sim", "De vez em quando." mudou para "Sim",
#"Nunca ou quase nunca." mudou para "Não", Além disso Respostas em Branco, "*", "." mudou para 
#"Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', 'C', '*', '.']

# Novo valor para substituição
novo_valor = ['Não', 'Sim', 'Sim', 'Não respondeu/Não soube responder' ,'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q006C'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q006C'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q006C'] = dados_aluno_df['TX_RESP_Q006C'].replace(valores_antigos, novo_valor)

In [24]:
#Seus pais ou responsáveis incentivam você a ir a escola e/ou não faltar às aulas?
#Mudança de Resposta: "Sempre ou quase sempre." mudou para "Sim", "De vez em quando." mudou para "Sim",
#"Nunca ou quase nunca." mudou para "Não", Além disso Respostas em Branco, "*", "." mudou para 
#"Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', 'C', '*', '.']

# Novo valor para substituição
novo_valor = ['Não', 'Sim', 'Sim', 'Não respondeu/Não soube responder' ,'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q006D'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q006D'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q006D'] = dados_aluno_df['TX_RESP_Q006D'].replace(valores_antigos, novo_valor)

In [25]:
#Com qual frequência seus pais, ou responsáveis por você, vão à reunião de pais?
#Mudança de Resposta: "Sempre ou quase sempre." mudou para "Sim", "De vez em quando." mudou para "Sim",
#"Nunca ou quase nunca." mudou para "Não", Além disso Respostas em Branco, "*", "." mudou para 
#"Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', 'C', '*', '.']

# Novo valor para substituição
novo_valor = ['Não', 'Sim', 'Sim', 'Não respondeu/Não soube responder' ,'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q006E'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q006E'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q006E'] = dados_aluno_df['TX_RESP_Q006E'].replace(valores_antigos, novo_valor)

In [26]:
#Na sua casa tem geladeira?
#Mudança de Resposta: "Nenhum" mudou para "Não", "1" mudou para "Sim, uma", "2" mudou para "Sim, duas",
#"3 ou mais." mudou para "Sim, três ou mais.", Além disso Respostas em Branco, "*", "." mudou para 
#"Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', 'C', 'D', '*', '.']

# Novo valor para substituição
novo_valor = ['Não', 'Sim, uma', 'Sim, duas' , 'Sim, três ou mais', 
              'Não respondeu/Não soube responder',
              'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q009A'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q009A'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q009A'] = dados_aluno_df['TX_RESP_Q009A'].replace(valores_antigos, novo_valor)

In [27]:
#Na sua casa tem computador?
#Mudança de Resposta: "Nenhum" mudou para "Não", "1" mudou para "Sim, um", "2" mudou para "Sim, dois",
#"3 ou mais." mudou para "Sim, três ou mais.", Além disso Respostas em Branco, "*", "." mudou para 
#"Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', 'C', 'D', '*', '.']

# Novo valor para substituição
novo_valor = ['Não', 'Sim, um', 'Sim, dois' , 'Sim, três ou mais',
              'Não respondeu/Não soube responder',
              'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q009C'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q009C'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q009C'] = dados_aluno_df['TX_RESP_Q009C'].replace(valores_antigos, novo_valor)

In [28]:
#Na sua casa tem quartos para dormir?
#Mudança de Resposta: "Nenhum" mudou para "Não", "1" mudou para "Sim, um", "2" mudou para "Sim, dois",
#"3 ou mais." mudou para "Sim, três ou mais.", Além disso Respostas em Branco, "*", "." mudou para 
#"Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', 'C', 'D', '*', '.']

# Novo valor para substituição
novo_valor = ['Não', 'Sim, um', 'Sim, dois' , 'Sim, três ou mais', 
              'Não respondeu/Não soube responder',
              'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q009D'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q009D'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q009D'] = dados_aluno_df['TX_RESP_Q009D'].replace(valores_antigos, novo_valor)

In [29]:
#Na sua casa tem televisão em cores?
#Mudança de Resposta: "Nenhum" mudou para "Não", "1" mudou para "Sim, uma", "2" mudou para "Sim, duas",
#"3 ou mais." mudou para "Sim, três ou mais.", Além disso Respostas em Branco, "*", "." mudou para 
#"Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', 'C', 'D', '*', '.']

# Novo valor para substituição
novo_valor = ['Não', 'Sim, uma', 'Sim, duas' , 'Sim, três ou mais', 
              'Não respondeu/Não soube responder',
              'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q009E'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q009E'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q009E'] = dados_aluno_df['TX_RESP_Q009E'].replace(valores_antigos, novo_valor)

In [30]:
#Na sua casa tem banheiro?
#Mudança de Resposta: "Nenhum" mudou para "Não", "1" mudou para "Sim, um", "2" mudou para "Sim, dois",
#"3 ou mais." mudou para "Sim, três ou mais.", Além disso Respostas em Branco, "*", "." mudou para 
#"Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', 'C', 'D', '*', '.']

# Novo valor para substituição
novo_valor = ['Não', 'Sim, um', 'Sim, dois' , 'Sim, três ou mais', 
              'Não respondeu/Não soube responder',
              'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q009F'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q009F'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q009F'] = dados_aluno_df['TX_RESP_Q009F'].replace(valores_antigos, novo_valor)

In [31]:
#Na sua casa tem carro?
#Mudança de Resposta: "Nenhum" mudou para "Não", "1" mudou para "Sim, um", "2" mudou para "Sim, dois",
#"3 ou mais." mudou para "Sim, três ou mais.", Além disso Respostas em Branco, "*", "." mudou para 
#"Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', 'C', 'D', '*', '.']

# Novo valor para substituição
novo_valor = ['Não', 'Sim, um', 'Sim, dois' , 'Sim, três ou mais', 
              'Não respondeu/Não soube responder',
              'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q009G'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q009G'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q009G'] = dados_aluno_df['TX_RESP_Q009G'].replace(valores_antigos, novo_valor)

In [32]:
#Na sua casa tem máquina de lavar roupa (O tanquinho NÃO deve ser considerado)?
#Mudança de Resposta: Respostas em Branco, "*", "." mudou para "Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', '*', '.']

# Novo valor para substituição
novo_valor = ['Não', 'Sim', 'Não respondeu/Não soube responder',
              'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q010H'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q010H'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q010H'] = dados_aluno_df['TX_RESP_Q010H'].replace(valores_antigos, novo_valor)

In [33]:
#Você já abandonou a escola durante o período de aulas e ficou fora da escola o resto do ano?
#Mudança de Resposta:  em Branco, "*", "." mudou para "Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', 'C', '*', '.']

# Novo valor para substituição
novo_valor = ['Não', 'Sim, uma vez', 'Sim, duas vezes ou mais' , 'Não respondeu/Não soube responder' ,'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q016'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q016'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q016'] = dados_aluno_df['TX_RESP_Q016'].replace(valores_antigos, novo_valor)

In [34]:
#Você já foi reprovado?
#Mudança de Resposta:  em Branco, "*", "." mudou para "Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', 'C', '*', '.']

# Novo valor para substituição
novo_valor = ['Não', 'Sim, uma vez', 'Sim, duas vezes ou mais' , 'Não respondeu/Não soube responder' ,'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q015'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q015'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q015'] = dados_aluno_df['TX_RESP_Q015'].replace(valores_antigos, novo_valor)

In [35]:
#Em dia de aula, quanto tempo você gasta assistindo à TV, navegando na internet ou jogando jogos eletrônicos?
#Mudança de Resposta: Respostas em Branco ou "*" ou "." mudou para "Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', 'C', 'D', '*', '.']

# Novo valor para substituição
novo_valor = ['Não uso meu tempo para isso', 'Menos de 1 hora', 'Entre 1 e 2 horas', 
              'Mais de 2 horas', 
              'Não respondeu/Não soube responder',
              'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q017A'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q017A'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q017A'] = dados_aluno_df['TX_RESP_Q017A'].replace(valores_antigos, novo_valor)

In [36]:
#Em dias de aula, quanto tempo você gasta fazendo trabalhos domésticos (ex.: lavando louça, limpando o quintal etc.)?
#Mudança de Resposta: Respostas em Branco ou "*" ou "." mudou para "Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', 'C', 'D', '*', '.']

# Novo valor para substituição
novo_valor = ['Não uso meu tempo para isso', 'Menos de 1 hora', 'Entre 1 e 2 horas', 
              'Mais de 2 horas', 
              'Não respondeu/Não soube responder',
              'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q017C'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q017C'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q017C'] = dados_aluno_df['TX_RESP_Q017C'].replace(valores_antigos, novo_valor)

In [37]:
#Atualmente você trabalha fora de casa (recebendo ou não um salário)?
#Mudança de Resposta: Respostas em Branco ou "*" ou "." mudou para "Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', 'C', 'D', '*', '.']

# Novo valor para substituição
novo_valor = ['Não', 'Sim', 'Sim','Sim', 
              'Não respondeu/Não soube responder',
              'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q017E'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q017E'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q017E'] = dados_aluno_df['TX_RESP_Q017E'].replace(valores_antigos, novo_valor)

In [38]:
#Na sua casa tem: - Freezer (independente ou segunda porta da geladeira).
#Mudança de Resposta: Respostas em Branco, "*", "." mudou para "Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', '*', '.']

# Novo valor para substituição
novo_valor = ['Não', 'Sim', 'Não respondeu/Não soube responder',
              'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q010I'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q010I'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q010I'] = dados_aluno_df['TX_RESP_Q010I'].replace(valores_antigos, novo_valor)

In [39]:
#Renomeia as perguntas do questionário de aluno

# Vetores com os nomes atuais e futuros das colunas
nomes_atuais = ['ID_SAEB', 'TX_RESP_Q002', 'TX_RESP_Q003A', 'TX_RESP_Q003B', 'TX_RESP_Q004', 
                'TX_RESP_Q005', 'TX_RESP_Q006A', 'TX_RESP_Q006B', 'TX_RESP_Q006C',  'TX_RESP_Q006D',   
                'TX_RESP_Q006E', 'TX_RESP_Q009A','TX_RESP_Q009C', 'TX_RESP_Q009D', 
                'TX_RESP_Q009E', 'TX_RESP_Q009F', 'TX_RESP_Q009G', 'TX_RESP_Q010H', 'TX_RESP_Q015',
                'TX_RESP_Q016',  'TX_RESP_Q017A', 'TX_RESP_Q017C','TX_RESP_Q017E', 'TX_RESP_Q010I']

nomes_futuros = ['ID_PROVA_BRASIL',
'Qual é a sua cor ou raça?', 
'Normalmente, quem mora na sua casa? - Mãe (mães ou madrasta).', 
'Normalmente, quem mora na sua casa? - Pai (pais ou padrasto).', 
'Qual é a maior escolaridade da sua mãe (ou mulher responsável por você)?', 
'Qual é a maior escolaridade de seu pai (ou homem responsável por você)?', 
'Seus pais ou responsáveis conversam com você sobre o que acontece na escola?', 
'Seus pais ou responsáveis incentivam você a estudar?', 
'Seus pais ou responsáveis incentivam você a fazer o dever de casa e/ou os trabalhos da escola?', 
'Seus pais ou responsáveis incentivam você a ir a escola e/ou não faltar às aulas?', 
'Seus pais ou responsáveis vão à reunião de pais?', 
'Na sua casa tem geladeira?', 
'Na sua casa tem computador?', 
'Na sua casa tem quartos para dormir?', 
'Na sua casa tem televisão?', 
'Na sua casa tem banheiro?', 
'Na sua casa tem carro?', 
'Na sua casa tem máquina de lavar roupa?',  
'Você já foi reprovado(a)?', 
'Alguma vez você abandonou a escola deixando de frequentá-la até o final do ano escolar?', 
'Fora da escola em dias de aula, quanto tempo você usa para: - Lazer (TV, internet, brincar, música etc.).', 
'Fora da escola em dias de aula, quanto tempo você usa para: - Trabalhar em casa (lavar louça, limpar quintal, cuidar dos irmãos).', 
'Atualmente você trabalha fora de casa (recebendo ou não um salário)?',
'Na sua casa tem: - Freezer (independente ou segunda porta da geladeira)'
]

# Renomeando as colunas usando os vetores
novos_nomes = dict(zip(nomes_atuais, nomes_futuros))
dados_aluno_df.rename(columns=novos_nomes, inplace=True)

In [41]:
#Salvar o dataframe gerado em um arquivo
dados_aluno_df.to_csv('dados_aluno_9ano_2019.csv', index=False)

In [42]:
dados_aluno_df.shape

(26708, 40)

In [43]:
dados_aluno_df.head()

,ID_PROVA_BRASIL,ID_ESCOLA,IN_PUBLICA,ID_LOCALIZACAO,ID_TURMA,ID_SERIE,ID_ALUNO,IN_SITUACAO_CENSO,IN_PREENCHIMENTO_LP,IN_PREENCHIMENTO_MT,...,"Fora da escola em dias de aula, quanto tempo você usa para: - Lazer (TV, internet, brincar, música etc.).","Fora da escola em dias de aula, quanto tempo você usa para: - Trabalhar em casa (lavar louça, limpar quintal, cuidar dos irmãos).",Você já foi reprovado(a)?,Alguma vez você abandonou a escola deixando de frequentá-la até o final do ano escolar?,Seus pais ou responsáveis incentivam você a estudar?,Seus pais ou responsáveis incentivam você a fazer o dever de casa e/ou os trabalhos da escola?,Seus pais ou responsáveis incentivam você a ir a escola e/ou não faltar às aulas?,Seus pais ou responsáveis conversam com você sobre o que acontece na escola?,Atualmente você trabalha fora de casa (recebendo ou não um salário)?,Na sua casa tem: - Freezer (independente ou segunda porta da geladeira)
2353011,2019,61250442,1,1,1008120,9,35520013,1,1,1,...,Mais de 2 horas,Entre 1 e 2 horas,"Sim, uma vez","Sim, uma vez",Sim,Sim,Sim,Sim,Não,Não
2353012,2019,61250442,1,1,1008120,9,35520014,1,1,1,...,Mais de 2 horas,Menos de 1 hora,Não,Não,Sim,Sim,Sim,Sim,Não,Sim
2353013,2019,61250442,1,1,1008120,9,35520015,1,1,1,...,Entre 1 e 2 horas,Menos de 1 hora,Não,Não,Sim,Sim,Sim,Sim,Não,Sim
2353015,2019,61250442,1,1,1008120,9,35520017,1,1,1,...,Mais de 2 horas,Entre 1 e 2 horas,Não,Não,Sim,Sim,Sim,Sim,Não,Sim
2353016,2019,61250442,1,1,1008120,9,35520018,1,1,1,...,Mais de 2 horas,Menos de 1 hora,Não,Não,Sim,Sim,Sim,Sim,Não,Sim