In [1]:
# Importa o pandas
import pandas as pd
import numpy as np

In [3]:
# Carrega o dataset de alunos. Informar o caminho do arquivo.
dados_aluno = pd.read_csv("TS_ALUNO_3EM_ESC_2017.csv")

In [4]:
# Shape (Quantidade de linhas e colunas)
dados_aluno.shape

(1456325, 95)

In [5]:
# Visualiza uma amostra dos dados
dados_aluno.head()

,ID_PROVA_BRASIL,ID_REGIAO,ID_UF,ID_MUNICIPIO,ID_AREA,ID_ESCOLA,IN_PUBLICA,ID_LOCALIZACAO,ID_TURMA,ID_SERIE,...,TX_RESP_Q051,TX_RESP_Q052,TX_RESP_Q053,TX_RESP_Q054,TX_RESP_Q055,TX_RESP_Q056,TX_RESP_Q057,TX_RESP_Q058,TX_RESP_Q059,TX_RESP_Q060
0,2017,1,11,6305476,1,61226262,1,1,965015,12,...,C,A,C,A,A,A,B,A,C,B
1,2017,1,11,6305476,1,61226262,1,1,814929,12,...,C,B,C,A,A,A,B,A,A,C
2,2017,1,11,6305476,1,61226262,1,1,965015,12,...,C,A,C,A,A,A,B,B,A,B
3,2017,1,11,6305476,1,61226262,1,1,814929,12,...,C,B,A,A,B,B,B,A,C,C
4,2017,1,11,6305476,1,61226262,1,1,776500,12,...,D,B,D,C,C,C,C,C,D,B

In [6]:
#Mostra as colunas
dados_aluno.columns

Index(['ID_PROVA_BRASIL', 'ID_REGIAO', 'ID_UF', 'ID_MUNICIPIO', 'ID_AREA',
       'ID_ESCOLA', 'IN_PUBLICA', 'ID_LOCALIZACAO', 'ID_TURMA', 'ID_SERIE',
       'ID_ALUNO', 'IN_SITUACAO_CENSO', 'IN_PREENCHIMENTO_PROVA',
       'IN_PRESENCA_PROVA', 'ID_CADERNO', 'ID_BLOCO_1', 'ID_BLOCO_2',
       'TX_RESP_BLOCO_1_LP', 'TX_RESP_BLOCO_2_LP', 'TX_RESP_BLOCO_1_MT',
       'TX_RESP_BLOCO_2_MT', 'IN_PROFICIENCIA', 'IN_PROVA_BRASIL',
       'ESTRATO_ANEB', 'PESO_ALUNO_LP', 'PESO_ALUNO_MT', 'PROFICIENCIA_LP',
       'ERRO_PADRAO_LP', 'PROFICIENCIA_LP_SAEB', 'ERRO_PADRAO_LP_SAEB',
       'PROFICIENCIA_MT', 'ERRO_PADRAO_MT', 'PROFICIENCIA_MT_SAEB',
       'ERRO_PADRAO_MT_SAEB', 'IN_PREENCHIMENTO_QUESTIONARIO', 'TX_RESP_Q001',
       'TX_RESP_Q002', 'TX_RESP_Q003', 'TX_RESP_Q004', 'TX_RESP_Q005',
       'TX_RESP_Q006', 'TX_RESP_Q007', 'TX_RESP_Q008', 'TX_RESP_Q009',
       'TX_RESP_Q010', 'TX_RESP_Q011', 'TX_RESP_Q012', 'TX_RESP_Q013',
       'TX_RESP_Q014', 'TX_RESP_Q015', 'TX_RESP_Q016', 'TX_RESP_Q017',
       'TX_RESP_Q018', 'TX_RESP_Q019', 'TX_RESP_Q020', 'TX_RESP_Q021',
       'TX_RESP_Q022', 'TX_RESP_Q023', 'TX_RESP_Q024', 'TX_RESP_Q025',
       'TX_RESP_Q026', 'TX_RESP_Q027', 'TX_RESP_Q028', 'TX_RESP_Q029',
       'TX_RESP_Q030', 'TX_RESP_Q031', 'TX_RESP_Q032', 'TX_RESP_Q033',
       'TX_RESP_Q034', 'TX_RESP_Q035', 'TX_RESP_Q036', 'TX_RESP_Q037',
       'TX_RESP_Q038', 'TX_RESP_Q039', 'TX_RESP_Q040', 'TX_RESP_Q041',
       'TX_RESP_Q042', 'TX_RESP_Q043', 'TX_RESP_Q044', 'TX_RESP_Q045',
       'TX_RESP_Q046', 'TX_RESP_Q047', 'TX_RESP_Q048', 'TX_RESP_Q049',
       'TX_RESP_Q050', 'TX_RESP_Q051', 'TX_RESP_Q052', 'TX_RESP_Q053',
       'TX_RESP_Q054', 'TX_RESP_Q055', 'TX_RESP_Q056', 'TX_RESP_Q057',
       'TX_RESP_Q058', 'TX_RESP_Q059', 'TX_RESP_Q060'],
      dtype='object')

In [7]:
# Filtra os dados pela coluna 'ID_UF' pelo cÃ³digo 53 que corresponde ao DF
filtro_uf = dados_aluno['ID_UF'] == 53

# Filtra os dados pela coluna 'IN_PREENCHIMENTO_PROVA' pelo cÃ³digo 1 que corresponde a um preenchimento verdadeiro da prova
filtro_preenchimento_prova = dados_aluno['IN_PREENCHIMENTO_PROVA'] == 1

# Filtra os dados pela coluna 'IN_PREENCHIMENTO_QUESTIONARIO' pelo cÃ³digo 1 que corresponde a um preenchimento 
#verdadeiro do questionÃ¡rio
filtro_preench_quest = dados_aluno['IN_PREENCHIMENTO_QUESTIONARIO'] == 1

# Aplica ambos os filtros usando o operador lÃ³gico AND (&)
dados_aluno_df = dados_aluno[filtro_uf & filtro_preenchimento_prova & filtro_preench_quest]

In [8]:
# Convertendo as colunas para strings e substituindo os pontos por vÃ­rgulas
colunas_para_substituir = ['PESO_ALUNO_LP', 'PESO_ALUNO_MT', 'PROFICIENCIA_LP', 'PROFICIENCIA_LP_SAEB',
                           'PROFICIENCIA_MT', 'PROFICIENCIA_MT_SAEB']
for coluna in colunas_para_substituir:
    dados_aluno_df[coluna] = dados_aluno_df[coluna].astype(str).str.replace('.', ',')

C:\Users\ferna\AppData\Local\Temp\ipykernel_21840\3636634898.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dados_aluno_df[coluna] = dados_aluno_df[coluna].astype(str).str.replace('.', ',')
C:\Users\ferna\AppData\Local\Temp\ipykernel_21840\3636634898.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_aluno_df[coluna] = dados_aluno_df[coluna].astype(str).str.replace('.', ',')

In [9]:
#Aqui percebe-se que os dados jÃ¡ foram reduzidos
dados_aluno_df.shape

(15977, 95)

In [10]:
#o comando abaixo serve para testar os valores Ãºnicos que a coluna possui. EntÃ£o basta informar o nome da coluna.
dados_aluno_df['IN_PREENCHIMENTO_QUESTIONARIO'].unique()

array([1], dtype=int64)

In [11]:
#Selecionar as colunas que sÃ£o de interesse, para isso Ã© necessÃ¡rio identificar as perguntas que sÃ£o comuns aos
#5 questionÃ¡rios e que sÃ£o pertinentes a anÃ¡lise
colunas = ['ID_PROVA_BRASIL', 'ID_ESCOLA', 'IN_PUBLICA', 'ID_LOCALIZACAO', 'ID_TURMA', 'ID_SERIE', 'ID_ALUNO', 'IN_SITUACAO_CENSO',
          'IN_PREENCHIMENTO_PROVA','PESO_ALUNO_LP', 'PESO_ALUNO_MT', 'PROFICIENCIA_LP', 'PROFICIENCIA_LP_SAEB',
           'PROFICIENCIA_MT', 'PROFICIENCIA_MT_SAEB','IN_PREENCHIMENTO_QUESTIONARIO', 'TX_RESP_Q002', 
           'TX_RESP_Q005', 'TX_RESP_Q008', 'TX_RESP_Q011',
           'TX_RESP_Q012', 'TX_RESP_Q013', 'TX_RESP_Q014', 
            'TX_RESP_Q015', 'TX_RESP_Q018', 'TX_RESP_Q019', 
           'TX_RESP_Q022', 'TX_RESP_Q023', 'TX_RESP_Q026', 'TX_RESP_Q036', 
            'TX_RESP_Q037', 'TX_RESP_Q041', 'TX_RESP_Q042', 'TX_RESP_Q027', 
            'TX_RESP_Q028', 'TX_RESP_Q030', 'TX_RESP_Q031', 'TX_RESP_Q038','TX_RESP_Q009', 'TX_RESP_Q010']

#atribui somente as colunas desejadas ao dados_aluno_df inicial
dados_aluno_df = dados_aluno_df[colunas]

In [12]:
dados_aluno_df.head()

,ID_PROVA_BRASIL,ID_ESCOLA,IN_PUBLICA,ID_LOCALIZACAO,ID_TURMA,ID_SERIE,ID_ALUNO,IN_SITUACAO_CENSO,IN_PREENCHIMENTO_PROVA,PESO_ALUNO_LP,...,TX_RESP_Q037,TX_RESP_Q041,TX_RESP_Q042,TX_RESP_Q027,TX_RESP_Q028,TX_RESP_Q030,TX_RESP_Q031,TX_RESP_Q038,TX_RESP_Q009,TX_RESP_Q010
702044,2017,61233638,1,1,956362,12,26892528,1,1,"0,8461538462",...,D,A,A,A,A,A,A,B,A,A
702045,2017,61233638,1,1,956362,12,26892527,1,1,"0,8461538462",...,D,C,A,A,A,A,A,B,B,A
702046,2017,61233638,1,1,956362,12,26892526,1,1,"0,8461538462",...,A,A,A,A,B,A,B,B,B,A
702047,2017,61233638,1,1,956362,12,26892524,1,1,"0,8461538462",...,A,A,A,A,A,A,A,B,B,A
702048,2017,61233638,1,1,956362,12,26892523,1,1,"0,8461538462",...,D,C,A,A,A,A,A,B,B,A

In [13]:
#substituir os valores da pergunta "Na sua casa tem freezer (parte da geladeira duplex)?" para sim e nÃ£o
#sustituindo com sim
# Valores antigos que queremos substituir
valores_antigos = ['B', 'C', 'D', 'E', 'A', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['Sim', 'Sim', 'Sim', 'Sim', 'NÃ£o', 'NÃ£o respondeu/NÃ£o soube responder' ,'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q009'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q009'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q009'] = dados_aluno_df['TX_RESP_Q009'].replace(valores_antigos, novo_valor)

#sustituindo com nÃ£o
# Valores antigos que queremos substituir
#valores_antigos = ['A']
# Novo valor para substituiÃ§Ã£o
#novo_valor = 'NÃ£o'
# Substituindo os valores antigos pelo novo valor na coluna 'A'
#dados_aluno_df.loc[:, 'TX_RESP_Q009'] = dados_aluno_df['TX_RESP_Q009'].replace(valores_antigos, novo_valor)

In [14]:
#substituir os valores da pergunta "Na sua casa tem freezer separado da geladeira?" para sim e nÃ£o
#sustituindo com sim
# Valores antigos que queremos substituir
valores_antigos = ['B', 'C', 'D', 'E', 'A', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['Sim', 'Sim', 'Sim', 'Sim', 'NÃ£o', 'NÃ£o respondeu/NÃ£o soube responder' ,'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q010'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q010'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)

# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q010'] = dados_aluno_df['TX_RESP_Q010'].replace(valores_antigos, novo_valor)

#sustituindo com nÃ£o
# Valores antigos que queremos substituir
#valores_antigos = ['A']
# Novo valor para substituiÃ§Ã£o
#novo_valor = 'NÃ£o'
# Substituindo os valores antigos pelo novo valor na coluna 'A'
#dados_aluno_df.loc[:, 'TX_RESP_Q010'] = dados_aluno_df['TX_RESP_Q010'].replace(valores_antigos, novo_valor)

In [15]:
# FunÃ§Ã£o para verificar se pelo menos uma das duas colunas Ã© 'sim'
def verifica_sim(row):
    if row['TX_RESP_Q010'] == 'Sim' or row['TX_RESP_Q009'] == 'Sim':
        return 'Sim'
    elif row['TX_RESP_Q010'] == 'NÃ£o' and row['TX_RESP_Q009'] == 'NÃ£o':
        return 'NÃ£o'
    else:
        return 'NÃ£o respondeu/NÃ£o soube responder'

# Aplicando a funÃ§Ã£o para criar a nova coluna 'Resultado'
dados_aluno_df['Na sua casa tem: - Freezer (independente ou segunda porta da geladeira).'] = dados_aluno_df.apply(verifica_sim, axis=1)

In [16]:
#remover as colunas 'TX_RESP_Q010', 'TX_RESP_Q009', jÃ¡ que uma nova foi criada no lugar
dados_aluno_df.drop(['TX_RESP_Q010', 'TX_RESP_Q009'], axis=1, inplace=True)

In [17]:
#Como vocÃª se considera?
#MudanÃ§a de Resposta: "NÃ£o sei" mudou para "NÃ£o quero declarar para se adequar aos anos 2019 e 2021", AlÃ©m disso
#Respostas em Branco, "*"", "." mudou para "NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', 'C', 'D', 'E', 'F' , '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['Branco(a)', 'Pardo(a)', 'Preto(a)', 'Amarelo(a)', 'IndÃ­gena', 'NÃ£o quero declarar', 'NÃ£o respondeu/NÃ£o soube responder'
             ,'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q002'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q002'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q002'] = dados_aluno_df['TX_RESP_Q002'].replace(valores_antigos, novo_valor)

In [18]:
#VocÃª mora com sua mÃ£e?
#MudanÃ§a de Resposta: "NÃ£o, mas moro com outra mulher responsÃ¡vel por mim." mudou para "Sim", AlÃ©m disso
#Respostas em Branco, "*", "." mudou para "NÃ£o respondeu/NÃ£o soube responder"

valores_antigos = ['A', 'B', 'C', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['Sim', 'NÃ£o', 'Sim', 'NÃ£o respondeu/NÃ£o soube responder' ,'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q018'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q018'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q018'] = dados_aluno_df['TX_RESP_Q018'].replace(valores_antigos, novo_valor)

In [19]:
#VocÃª mora com seu pai?
#MudanÃ§a de Resposta: "NÃ£o, mas moro com outro homem responsÃ¡vel por mim." mudou para "Sim", AlÃ©m disso
#Respostas em Branco, "*", "." mudou para "NÃ£o respondeu/NÃ£o soube responder"

valores_antigos = ['A', 'B', 'C', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['Sim', 'NÃ£o', 'Sim', 'NÃ£o respondeu/NÃ£o soube responder' ,'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q022'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q022'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q022'] = dados_aluno_df['TX_RESP_Q022'].replace(valores_antigos, novo_valor)

In [20]:
#AtÃ© que sÃ©rie sua mÃ£e, ou a mulher responsÃ¡vel por vocÃª, estudou?
#MudanÃ§a de Resposta: "Nunca estudou." e "NÃ£o completou a 4.Âª sÃ©rie/5.Âº ano." mudou para 
#"NÃ£o completou o 5Âº ano do Ensino Fundamental", "Completou a 4.Âª sÃ©rie/5.Âº ano, mas nÃ£o completou a 8.Âª sÃ©rie/9.Âº ano."
#Mudou para "Ensino Fundamental, atÃ© o 5Âº ano", "Completou a 8.Âª sÃ©rie/9.Âº ano, mas nÃ£o completou o Ensino MÃ©dio." mudou 
#para "Ensino Fundamental completo", "Completou o Ensino MÃ©dio, mas nÃ£o completou a Faculdade." mudou para
#"Ensino MÃ©dio completo", "Completou a Faculdade." mudou para "Ensino Superior completo (faculdade ou graduaÃ§Ã£o)", AlÃ©m
#disso, Respostas em Branco ou "*" ou "." mudou para "NÃ£o respondeu/NÃ£o soube responder"


valores_antigos = ['A', 'B', 'C', 'D', 'E', 'F' , 'G' , '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o completou o 5Âº ano do Ensino Fundamental', 'NÃ£o completou o 5Âº ano do Ensino Fundamental',
              'Ensino Fundamental, atÃ© o 5Âº ano', 'Ensino Fundamental completo' ,'Ensino MÃ©dio completo', 
              'Ensino Superior completo (faculdade ou graduaÃ§Ã£o)', 'NÃ£o sei',
              'NÃ£o respondeu/NÃ£o soube responder', 'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q019'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q019'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q019'] = dados_aluno_df['TX_RESP_Q019'].replace(valores_antigos, novo_valor)

In [21]:
#AtÃ© que sÃ©rie seu pai, ou o homem responsÃ¡vel por vocÃª, estudou?
#MudanÃ§a de Resposta: "Nunca estudou." e "NÃ£o completou a 4.Âª sÃ©rie/5.Âº ano." mudou para 
#"NÃ£o completou o 5Âº ano do Ensino Fundamental", "Completou a 4.Âª sÃ©rie/5.Âº ano, mas nÃ£o completou a 8.Âª sÃ©rie/9.Âº ano."
#Mudou para "Ensino Fundamental, atÃ© o 5Âº ano", "Completou a 8.Âª sÃ©rie/9.Âº ano, mas nÃ£o completou o Ensino MÃ©dio." mudou 
#para "Ensino Fundamental completo", "Completou o Ensino MÃ©dio, mas nÃ£o completou a Faculdade." mudou para
#"Ensino MÃ©dio completo", "Completou a Faculdade." mudou para "Ensino Superior completo (faculdade ou graduaÃ§Ã£o)", AlÃ©m
#disso, Respostas em Branco ou "*" ou "." mudou para "NÃ£o respondeu/NÃ£o soube responder"

valores_antigos = ['A', 'B', 'C', 'D', 'E', 'F' , 'G' , '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o completou o 5Âº ano do Ensino Fundamental', 'NÃ£o completou o 5Âº ano do Ensino Fundamental',
              'Ensino Fundamental, atÃ© o 5Âº ano', 'Ensino Fundamental completo' ,'Ensino MÃ©dio completo', 
              'Ensino Superior completo (faculdade ou graduaÃ§Ã£o)', 'NÃ£o sei',
              'NÃ£o respondeu/NÃ£o soube responder', 'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q023'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q023'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q023'] = dados_aluno_df['TX_RESP_Q023'].replace(valores_antigos, novo_valor)

In [22]:
#Seus pais ou responsÃ¡veis conversam com vocÃª sobre o que acontece na escola?
#MudanÃ§a de Resposta: Respostas em Branco, "*", "." mudou para "NÃ£o respondeu/NÃ£o soube responder"


valores_antigos = ['A', 'B', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['Sim', 'NÃ£o', 'NÃ£o respondeu/NÃ£o soube responder' ,'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q031'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q031'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q031'] = dados_aluno_df['TX_RESP_Q031'].replace(valores_antigos, novo_valor)

In [23]:
#Seus pais ou responsÃ¡veis incentivam vocÃª a estudar?
#MudanÃ§a de Resposta: Respostas em Branco, "*", "." mudou para "NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['Sim', 'NÃ£o', 'NÃ£o respondeu/NÃ£o soube responder' ,'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q027'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q027'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q027'] = dados_aluno_df['TX_RESP_Q027'].replace(valores_antigos, novo_valor)

In [24]:
#Seus pais ou responsÃ¡veis incentivam vocÃª a fazer o dever de casa e/ou os trabalhos da escola?
#MudanÃ§a de Resposta: Respostas em Branco, "*", "." mudou para "NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['Sim', 'NÃ£o', 'NÃ£o respondeu/NÃ£o soube responder' ,'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q028'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q028'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q028'] = dados_aluno_df['TX_RESP_Q028'].replace(valores_antigos, novo_valor)

In [25]:
#Seus pais ou responsÃ¡veis incentivam vocÃª a ir a escola e/ou nÃ£o faltar Ã s aulas?
#MudanÃ§a de Resposta: Respostas em Branco, "*", "." mudou para "NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['Sim', 'NÃ£o', 'NÃ£o respondeu/NÃ£o soube responder' ,'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q030'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q030'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q030'] = dados_aluno_df['TX_RESP_Q030'].replace(valores_antigos, novo_valor)

In [26]:
#Com qual frequÃªncia seus pais, ou responsÃ¡veis por vocÃª, vÃ£o Ã  reuniÃ£o de pais?
#MudanÃ§a de Resposta: "Sempre ou quase sempre." mudou para "Sim", "De vez em quando." mudou para "Sim",
#"Nunca ou quase nunca." mudou para "NÃ£o", AlÃ©m disso Respostas em Branco, "*", "." mudou para 
#"NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', 'C', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['Sim', 'Sim', 'NÃ£o' , 'NÃ£o respondeu/NÃ£o soube responder' ,'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q026'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q026'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q026'] = dados_aluno_df['TX_RESP_Q026'].replace(valores_antigos, novo_valor)

In [27]:
#Na sua casa tem geladeira?
#MudanÃ§a de Resposta: "NÃ£o tem." mudou para "NÃ£o", "Sim, trÃªs." mudou para "Sim, trÃªs ou mais.",
#"Sim, quatro ou mais." mudou para "Sim, trÃªs ou mais.", AlÃ©m disso Respostas em Branco, "*", "." mudou para 
#"NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', 'C', 'D', 'E', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o', 'Sim, uma', 'Sim, duas' , 'Sim, trÃªs ou mais', 
              'Sim, trÃªs ou mais',  'NÃ£o respondeu/NÃ£o soube responder',
              'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q008'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q008'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q008'] = dados_aluno_df['TX_RESP_Q008'].replace(valores_antigos, novo_valor)

In [28]:
#Na sua casa tem computador?
#MudanÃ§a de Resposta: "NÃ£o tem." mudou para "NÃ£o", "Sim, trÃªs." mudou para "Sim, trÃªs ou mais.",
#"Sim, quatro ou mais." mudou para "Sim, trÃªs ou mais.", AlÃ©m disso Respostas em Branco, "*", "." mudou para 
#"NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', 'C', 'D', 'E', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o', 'Sim, um', 'Sim, dois' , 'Sim, trÃªs ou mais', 
              'Sim, trÃªs ou mais',  'NÃ£o respondeu/NÃ£o soube responder',
              'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q013'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q013'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q013'] = dados_aluno_df['TX_RESP_Q013'].replace(valores_antigos, novo_valor)

In [29]:
#Na sua casa tem quartos para dormir?
#MudanÃ§a de Resposta: "NÃ£o tem." mudou para "NÃ£o", "Sim, trÃªs." mudou para "Sim, trÃªs ou mais.",
#"Sim, quatro ou mais." mudou para "Sim, trÃªs ou mais.", AlÃ©m disso Respostas em Branco, "*", "." mudou para 
#"NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', 'C', 'D', 'E', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o', 'Sim, um', 'Sim, dois' , 'Sim, trÃªs ou mais', 
              'Sim, trÃªs ou mais',  'NÃ£o respondeu/NÃ£o soube responder',
              'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q015'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q015'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q015'] = dados_aluno_df['TX_RESP_Q015'].replace(valores_antigos, novo_valor)

In [30]:
#Na sua casa tem televisÃ£o em cores?
#MudanÃ§a de Resposta: "NÃ£o tem." mudou para "NÃ£o", "Sim, trÃªs." mudou para "Sim, trÃªs ou mais.",
#"Sim, quatro ou mais." mudou para "Sim, trÃªs ou mais.", AlÃ©m disso Respostas em Branco, "*", "." mudou para 
#"NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', 'C', 'D', 'E', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o', 'Sim, uma', 'Sim, duas' , 'Sim, trÃªs ou mais', 
              'Sim, trÃªs ou mais',  'NÃ£o respondeu/NÃ£o soube responder',
              'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q005'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q005'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q005'] = dados_aluno_df['TX_RESP_Q005'].replace(valores_antigos, novo_valor)

In [31]:
#Na sua casa tem banheiro?
#MudanÃ§a de Resposta: "NÃ£o tem." mudou para "NÃ£o", "Sim, trÃªs." mudou para "Sim, trÃªs ou mais.",
#"Sim, quatro ou mais." mudou para "Sim, trÃªs ou mais.", AlÃ©m disso Respostas em Branco, "*", "." mudou para 
#"NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', 'C', 'D', 'E', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o', 'Sim, um', 'Sim, dois' , 'Sim, trÃªs ou mais', 
              'Sim, trÃªs ou mais',  'NÃ£o respondeu/NÃ£o soube responder',
              'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q014'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q014'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q014'] = dados_aluno_df['TX_RESP_Q014'].replace(valores_antigos, novo_valor)

In [32]:
#Na sua casa tem carro?
#MudanÃ§a de Resposta: "NÃ£o tem." mudou para "NÃ£o", "Sim, trÃªs." mudou para "Sim, trÃªs ou mais.",
#"Sim, quatro ou mais." mudou para "Sim, trÃªs ou mais.", AlÃ©m disso Respostas em Branco, "*", "." mudou para 
#"NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', 'C', 'D', 'E', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o', 'Sim, um', 'Sim, dois' , 'Sim, trÃªs ou mais', 
              'Sim, trÃªs ou mais',  'NÃ£o respondeu/NÃ£o soube responder',
              'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q012'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q012'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q012'] = dados_aluno_df['TX_RESP_Q012'].replace(valores_antigos, novo_valor)

In [33]:
#Na sua casa tem mÃ¡quina de lavar roupa (O tanquinho NÃƒO deve ser considerado)?
#MudanÃ§a de Resposta: "NÃ£o tem." mudou para "NÃ£o", Todas as respostas que continham "Sim" mudou para "Sim", 
#AlÃ©m disso Respostas em Branco, "*", "." mudou para 
#"NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', 'C', 'D', 'E', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o', 'Sim', 'Sim' , 'Sim', 
              'Sim',  'NÃ£o respondeu/NÃ£o soube responder',
              'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q011'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q011'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q011'] = dados_aluno_df['TX_RESP_Q011'].replace(valores_antigos, novo_valor)

In [34]:
#VocÃª jÃ¡ foi reprovado?
#MudanÃ§a de Resposta:  em Branco, "*", "." mudou para "NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', 'C', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o', 'Sim, uma vez', 'Sim, duas vezes ou mais' , 'NÃ£o respondeu/NÃ£o soube responder' ,'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q041'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q041'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q041'] = dados_aluno_df['TX_RESP_Q041'].replace(valores_antigos, novo_valor)

In [35]:
#VocÃª jÃ¡ abandonou a escola durante o perÃ­odo de aulas e ficou fora da escola o resto do ano?
#MudanÃ§a de Resposta:  em Branco, "*", "." mudou para "NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', 'C', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['NÃ£o', 'Sim, uma vez', 'Sim, duas vezes ou mais' , 'NÃ£o respondeu/NÃ£o soube responder' ,'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q042'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q042'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q042'] = dados_aluno_df['TX_RESP_Q042'].replace(valores_antigos, novo_valor)

In [36]:
#Em dia de aula, quanto tempo vocÃª gasta assistindo Ã  TV, navegando na internet ou jogando jogos eletrÃ´nicos?
#MudanÃ§a de Resposta: "Mais de 2 horas, atÃ© 3 horas." e "Mais de 3 horas." mudou para "Mais de 2 horas", 
#"NÃ£o vejo TV, nÃ£o navego na internet e nÃ£o jogo jogos eletrÃ´nicos." mudou para "NÃ£o uso meu tempo para isso", AlÃ©m
#disso, Respostas em Branco ou "*" ou "." mudou para "NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', 'C', 'D', 'E',  '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['Menos de 1 hora', 'Entre 1 e 2 horas', 'Mais de 2 horas', 'Mais de 2 horas', 
              'NÃ£o uso meu tempo para isso', 'NÃ£o respondeu/NÃ£o soube responder',
              'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q036'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q036'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q036'] = dados_aluno_df['TX_RESP_Q036'].replace(valores_antigos, novo_valor)

In [37]:
#Em dias de aula, quanto tempo vocÃª gasta fazendo trabalhos domÃ©sticos (ex.: lavando louÃ§a, limpando o quintal etc.)?
#MudanÃ§a de Resposta: "Mais de 2 horas, atÃ© 3 horas." e "Mais de 3 horas." mudou para "Mais de 2 horas", 
#"NÃ£o faÃ§o trabalhos domÃ©sticos." mudou para "NÃ£o uso meu tempo para isso", AlÃ©m
#disso, Respostas em Branco ou "*" ou "." mudou para "NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', 'C', 'D', 'E',  '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['Menos de 1 hora', 'Entre 1 e 2 horas', 'Mais de 2 horas', 'Mais de 2 horas', 
              'NÃ£o uso meu tempo para isso', 'NÃ£o respondeu/NÃ£o soube responder',
              'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q037'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q037'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q037'] = dados_aluno_df['TX_RESP_Q037'].replace(valores_antigos, novo_valor)

In [38]:
#Atualmente vocÃª trabalha fora de casa (recebendo ou nÃ£o um salÃ¡rio)?
#MudanÃ§a de Resposta: Respostas em Branco ou "*" ou "." mudou para "NÃ£o respondeu/NÃ£o soube responder"
valores_antigos = ['A', 'B', '*', '.']

# Novo valor para substituiÃ§Ã£o
novo_valor = ['Sim', 'NÃ£o', 'NÃ£o respondeu/NÃ£o soube responder', 'NÃ£o respondeu/NÃ£o soube responder']


dados_aluno_df['TX_RESP_Q038'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q038'].fillna('NÃ£o respondeu/NÃ£o soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q038'] = dados_aluno_df['TX_RESP_Q038'].replace(valores_antigos, novo_valor)

In [39]:
#Renomeia as perguntas do questionÃ¡rio de aluno

# Vetores com os nomes atuais e futuros das colunas
nomes_atuais = ['TX_RESP_Q002', 'TX_RESP_Q018', 'TX_RESP_Q022', 'TX_RESP_Q019', 'TX_RESP_Q023', 'TX_RESP_Q031', 
                'TX_RESP_Q027', 
                'TX_RESP_Q028', 'TX_RESP_Q030', 'TX_RESP_Q026', 'TX_RESP_Q008', 'TX_RESP_Q013', 'TX_RESP_Q015', 
                'TX_RESP_Q005', 
                'TX_RESP_Q014', 'TX_RESP_Q012', 'TX_RESP_Q011', 'TX_RESP_Q041', 'TX_RESP_Q042', 'TX_RESP_Q036', 
                'TX_RESP_Q037', 
                'TX_RESP_Q038']

nomes_futuros = ['Qual Ã© a sua cor ou raÃ§a?', 
'Normalmente, quem mora na sua casa? - MÃ£e (mÃ£es ou madrasta).', 
'Normalmente, quem mora na sua casa? - Pai (pais ou padrasto).', 
'Qual Ã© a maior escolaridade da sua mÃ£e (ou mulher responsÃ¡vel por vocÃª)?', 
'Qual Ã© a maior escolaridade de seu pai (ou homem responsÃ¡vel por vocÃª)?', 
'Seus pais ou responsÃ¡veis conversam com vocÃª sobre o que acontece na escola?', 
'Seus pais ou responsÃ¡veis incentivam vocÃª a estudar?', 
'Seus pais ou responsÃ¡veis incentivam vocÃª a fazer o dever de casa e/ou os trabalhos da escola?', 
'Seus pais ou responsÃ¡veis incentivam vocÃª a ir a escola e/ou nÃ£o faltar Ã s aulas?', 
'Seus pais ou responsÃ¡veis vÃ£o Ã  reuniÃ£o de pais?',  
'Na sua casa tem geladeira?', 
'Na sua casa tem computador?', 
'Na sua casa tem quartos para dormir?', 
'Na sua casa tem televisÃ£o?', 
'Na sua casa tem banheiro?', 
'Na sua casa tem carro?', 
'Na sua casa tem mÃ¡quina de lavar roupa?',  
'VocÃª jÃ¡ foi reprovado(a)?', 
'Alguma vez vocÃª abandonou a escola deixando de frequentÃ¡-la atÃ© o final do ano escolar?', 
'Fora da escola em dias de aula, quanto tempo vocÃª usa para: - Lazer (TV, internet, brincar, mÃºsica etc.).', 
'Fora da escola em dias de aula, quanto tempo vocÃª usa para: - Trabalhar em casa (lavar louÃ§a, limpar quintal, cuidar dos irmÃ£os).', 
'Atualmente vocÃª trabalha fora de casa (recebendo ou nÃ£o um salÃ¡rio)?'
]

# Renomeando as colunas usando os vetores
novos_nomes = dict(zip(nomes_atuais, nomes_futuros))
dados_aluno_df.rename(columns=novos_nomes, inplace=True)

In [40]:
#Salvar o dataframe gerado em um arquivo
dados_aluno_df.to_csv('dados_aluno_3anoEM_ESC_2017.csv', index=False)

In [41]:
dados_aluno_df.shape

(15977, 39)

In [42]:
dados_aluno_df.head()

,ID_PROVA_BRASIL,ID_ESCOLA,IN_PUBLICA,ID_LOCALIZACAO,ID_TURMA,ID_SERIE,ID_ALUNO,IN_SITUACAO_CENSO,IN_PREENCHIMENTO_PROVA,PESO_ALUNO_LP,...,"Fora da escola em dias de aula, quanto tempo vocÃª usa para: - Lazer (TV, internet, brincar, mÃºsica etc.).","Fora da escola em dias de aula, quanto tempo vocÃª usa para: - Trabalhar em casa (lavar louÃ§a, limpar quintal, cuidar dos irmÃ£os).",VocÃª jÃ¡ foi reprovado(a)?,Alguma vez vocÃª abandonou a escola deixando de frequentÃ¡-la atÃ© o final do ano escolar?,Seus pais ou responsÃ¡veis incentivam vocÃª a estudar?,Seus pais ou responsÃ¡veis incentivam vocÃª a fazer o dever de casa e/ou os trabalhos da escola?,Seus pais ou responsÃ¡veis incentivam vocÃª a ir a escola e/ou nÃ£o faltar Ã s aulas?,Seus pais ou responsÃ¡veis conversam com vocÃª sobre o que acontece na escola?,Atualmente vocÃª trabalha fora de casa (recebendo ou nÃ£o um salÃ¡rio)?,Na sua casa tem: - Freezer (independente ou segunda porta da geladeira).
702044,2017,61233638,1,1,956362,12,26892528,1,1,"0,8461538462",...,Entre 1 e 2 horas,Mais de 2 horas,NÃ£o,NÃ£o,Sim,Sim,Sim,Sim,NÃ£o,NÃ£o
702045,2017,61233638,1,1,956362,12,26892527,1,1,"0,8461538462",...,NÃ£o uso meu tempo para isso,Mais de 2 horas,"Sim, duas vezes ou mais",NÃ£o,Sim,Sim,Sim,Sim,NÃ£o,Sim
702046,2017,61233638,1,1,956362,12,26892526,1,1,"0,8461538462",...,Entre 1 e 2 horas,Menos de 1 hora,NÃ£o,NÃ£o,Sim,NÃ£o,Sim,NÃ£o,NÃ£o,Sim
702047,2017,61233638,1,1,956362,12,26892524,1,1,"0,8461538462",...,Menos de 1 hora,Menos de 1 hora,NÃ£o,NÃ£o,Sim,Sim,Sim,Sim,NÃ£o,Sim
702048,2017,61233638,1,1,956362,12,26892523,1,1,"0,8461538462",...,NÃ£o uso meu tempo para isso,Mais de 2 horas,"Sim, duas vezes ou mais",NÃ£o,Sim,Sim,Sim,Sim,NÃ£o,Sim